<!DOCTYPE html>
<html ng-app="myApp"><!--aqui esta chamando o arquivo do angylar formCtrl-->
<head>
	<title>Github</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/myApp.js"></script>
	<script type="text/javascript" src="js/controller/formCtrl.js"></script>
</head>
<body ng-controller="FormCtrl"><!--aqui chamamos o controller do angular-->
<div class="container">
	<div class="jumbotron">
	<h2 ng-bind="'Cadastro de Tarefas'"></h2>
		<form>
		  <div class="row">
			  <div class="form-group col-xs-12">
			    <label for="tarefa">Cadastrar Tarefa</label>
			    <input type="text" class="form-control" id="tarefa" placeholder="Nome" ng-model="tarefa"/>
			  </div>		  		  
			<div class="form-group col-xs-12">
		  		<button type="button" class="btn btn-success pull-right" ng-click="cadastraTarefa(tarefa)"/>Cadastrar</button>
		  	</div>

		</div>	
		</form>			
		<hr/>

		<div class="row">
			<div class="form-group col-xs-12">
				<label for="search">Buscar:</label>
				<input type="text" class="form-control" id="search" ng-model="search"></input>
			</div>
			<p>{{ search }}</p>
			<table class="table table-bordered">
						<thead>
							<tr>
								<th>Check</th>
								<th>Tarefa</th>					
								<th>Data</th>
								<th>Opções</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="item in list | filter:search">
								<td><input type="checkbox" ></input></td>
								<td ng-bind="item.nomeTarefa"></td>
								<td ng-bind="item.dataTarefa | date:'dd/MM/yyyy'"></td>
								<td>
								<button class="btn btn-success" ng-click="editaTarefa($index)">
									<i class="glyphicon glyphicon-pencil"></i>
								</button>
								</td>
							</tr>											
						</tbody>
				</table>
		  <div class="row" ng-show="clicouEditar">
			  <div class="form-group col-xs-8">
			    <input type="text" class="form-control" ng-model="renomear"/>
			  </div>		  		  
			<div class="form-group col-xs-4">
		  		<button class="btn btn-success pull-right" ng-click="renomearTarefa(renomear)"/>Renomer</button>
		  	</div>

		</div>				
		</div>
	</div>
</div>
</body>
</html>