<!DOCTYPE html>
<html ng-app="myApp"><!--aqui esta chamando o arquivo do angylar formCtrl-->
<head>
	<title>Github</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/myApp.js"></script>
	<script type="text/javascript" src="js/controller/formCtrl.js"></script>
</head>
<body ng-controller="FormCtrl"><!--aqui chamamos o controller do angular-->
<div class="container">
	<div class="jumbotron">

		<form>
		  <div class="row">
			  <div class="form-group col-xs-12 col-sm-6">
			    <label for="name">Nome</label>
			    <input type="text" class="form-control" id="name" placeholder="Nome" ng-model="pessoa.name">
			  </div>

			  <div class="form-group col-xs-12 col-sm-6">
			    <label for="lastname">Sobrenome</label>
			    <input type="text" class="form-control" id="lastname" placeholder="sobrenome" ng-model="pessoa.lastname">
			  </div>
		  </div>

		  <div class="row">
			  <div class="form-group col-xs-12 col-md-6">
			    <label for="age">Idade</label>
			    <input type="number" class="form-control" id="age" placeholder="Idade" ng-model="pessoa.age">
			  </div>

			  <div class="form-group col-xs-12 col-md-6">
			    <label for="email">E-Mail</label>
			    <input type="email" class="form-control" id="email" placeholder="Digite seu E-Mail" ng-model="pessoa.email">
			  </div>
		  </div>

		  <div class="row">
			  <div class="form-group col-xs-12">
			    <label for="phone">Telefone</label>
			    <input type="number" class="form-control" id="phone" placeholder="Numero De Telefone" ng-model="pessoa.phone">
			  </div>
		  </div>		  		  


		  <input type="submit" class="pull-right" value="Enviar">
		</form>
			<h2>Informações</h2>

			<p ng-if="pessoa.name">Nome: <strong ng-bind="pessoa.name"></strong> </p>
			<p ng-if="pessoa.lastname">Sobrenome: <strong ng-bind="pessoa.lastname"></strong> </p>
			<p ng-if="pessoa.age">Idade: <strong ng-bind="pessoa.age"></strong> </p>
			<p ng-if="pessoa.email">E-mail: <strong ng-bind="pessoa.email"></strong> </p>
			<p ng-if="pessoa.phone">Telefone: <strong ng-bind="pessoa.phone"></strong> </p>



		<p>
			<span ng-bind="pessoa"></span>			

		</p>
	</div>
</div>
</body>
</html>